@model IEnumerable<VKR_Visik.Classes.Themes>

@{
    ViewData["Title"] = "Index";
}

<h1>Темы</h1>
@if (ViewContext.HttpContext.Session.GetString("userRole") != null)
{
    <p>
        <a asp-action="Create">Создать тему</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Тема
            </th>
            <th>
                Дата создания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.themes_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.themes_data)
                </td>
                <td>
                    <form method="post" asp-action="Index" asp-controller="Themes" asp-route-id_th="@item.themes_id">
                        <button type="submit" class="btn btn-link">Перейти к обсуждению</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
