@model IEnumerable<VKR_Visik.Classes.Users>

@{
    ViewData["Title"] = "View";
}

<h1>Заявки</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.users_FIO)
            </td>
            <td>
                    <form method="post" asp-action="ViewList" asp-route-id="@item.users_Id">
                        <button type="submit">Выдать доступ</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
